<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Electricity Bill Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Electricity Bill Calculator</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form th:action="@{/calculate}" method="post" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="units">Units Used:</label>
                        <input type="number" class="form-control" id="units" name="units" required>
                        <small class="form-text text-muted">Enter the number of units used.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </form>
                <div id="error" class="text-danger mt-2" style="display: none;">Please enter a valid number of units.
                </div>
                <div class="mt-5">
                    <h3 class="text-center">Bill Amount: <span th:text="${bill}"></span> Rs.</h3>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script th:inline="javascript">
        function validateForm() {
            var units = parseInt($("#units").val());
            if (isNaN(units) || units < 1) {
                $("#error").show();
                return false;
            } else {
                $("#error").hide();
                return true;
            }
        }
    </script>

</body>

</html>